<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ExpMongo</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/expmongo.css">
</head>

<body>  
  <div>May Node and Express be with you.</div>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name" id="name" value="">
    <input type="text" placeholder="quote" name="quote" id="quote" value="">
    <!-- <input type="hidden" type="datetime" name="timestamp" id="timestamp" disabled="true"> -->
    <input name="timestamp" id="timestamp" >
    <input name="status" id="status" value="active" >
    <input name="parent_id" id="parent_id" value="" >
    <button type="submit">Submit</button>
    <!-- IMPORTANT: a field disabled="true" is not submitted -->
  </form>

  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote" id="<%= quotes[i]._id%>">
      <!-- <button id="edit">Edit</button> -->
      <!-- <button id="edit"><i class="fa fa-pencil-square-o"></i></button> -->
      <i class="fa fa-trash-o hide" id="<%= quotes[i]._id%>"></i>
      <i class="fa fa-pencil-square-o edit" id="<%= quotes[i]._id%>"></i>
      <span class="quote_name"><%= quotes[i].name %></span>
      <span class="quote_text"><%= quotes[i].quote %></span>
      <span class="quote_status <%= quotes[i].status %>">&nbsp;&nbsp;</span>
      <span class="quote_timestamp"><%= quotes[i].timestamp %></span>
      <!-- <span class="quote_text"><%= quotes[i]._id %></span> -->
    </li>
  <% } %>
  </ul>

<!--   <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
  	<button id="update">Vadar invades!</button>
  </div> -->

</body>
 
<script type="text/javascript" src="js/main.js"></script>
</html>