<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ExpMongo</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/expmongo.css">
</head>

<body>  
  <div class="col s12">My List</div>

  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card-panel blue-grey lighten-5">
        <form action="/quotes" method="POST" >    
          <div class="input-field">
            <i class="fa fa-trash-o hide"></i>
            <input type="text" placeholder="name" name="name" id="name" value="" class="validate">
            <label for="name">Name</label>
          </div>

          <div class="input-field">
            <i class="fa fa-trash-o hide"></i>
            <input type="text" placeholder="quote" name="quote" id="quote" value="" class="validate">
            <label for="quote">Quote</label>
          </div>

          <div class="input-field">
            <i class="fa fa-trash-o hide"></i>
            <input type="text" placeholder="timestamp" name="timestamp" id="timestamp" value="" class="validate">
            <!-- <label for="timestamp">Timestamp</label> -->
          </div>

          <div class="input-field">
            <i class="fa fa-trash-o hide"></i>
            <input type="text" placeholder="parent_id" name="parent_id" id="parent_id" value="" class="validate">
            <!-- <label for="parent_id">Quote parent id</label> -->
          </div>
          <!-- <input name="parent_id" id="parent_id" value="" > -->

          <!-- <input name="status" id="status" value="released" > -->
          <!-- Switch -->
          <div class="switch">
            <label>
              Archived
              <input  name="status" id="status" type="checkbox" value="released" checked="checked">
              <span class="lever"></span>
              Released
            </label>
          </div>

          <p>
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
          </p>
          <!-- IMPORTANT: a field disabled="true" is not submitted -->
        </form>
      </div>
    </div>
  </div>
<!--   <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote" id="<%= quotes[i]._id%>">
      <i class="fa fa-trash-o hide" id="<%= quotes[i]._id%>"></i>
      <i class="fa fa-pencil-square-o edit" id="<%= quotes[i]._id%>"></i>
      <span class="quote_name"><%= quotes[i].name %></span>
      <span class="quote_text"><%= quotes[i].quote %></span>
      <span class="quote_status <%= quotes[i].status %>">&nbsp;&nbsp;</span>
      <span class="quote_timestamp"><%= quotes[i].timestamp %></span>
      <span class="quote_text"><%= quotes[i]._id %></span>
     </li>
  <% } %>
  </ul>
 -->

      <div class="row">
        <div class="col s12 m6 l3">

  <% for(var i=0; i<quotes.length; i++) {%>
          <% if(quotes[i].status == "released") {%>
          <div class="card-panel small teal darken-4">
          <% } else { %>
          <div class="card-panel small grey lighten-2">
          <% } %>
            <i class="fa fa-trash-o delete" id="<%= quotes[i]._id%>"></i>
            <i class="fa fa-pencil-square-o edit" id="<%= quotes[i]._id%>"></i>
            <span class="quote_name"><%= quotes[i].name %></span>
            <span class="quote_text"><%= quotes[i].quote %></span>
            <span></span>
            <!-- <span class="quote_status <%= quotes[i].status %>">&nbsp;&nbsp;</span> -->
            <span class="quote_timestamp"><%= quotes[i].timestamp %></span>
            <span class="quote_id"><%= quotes[i]._id %></span>
           </div>
  <% } %>
        </div>
      </div>
  


<!--   <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
  	<button id="update">Vadar invades!</button>
  </div> -->
</body>
 
<script type="text/javascript" src="js/main.js"></script>
</html>